# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Tests
/test/coverage

# IDEs and editors
/.idea

# database
/db

#
package-lock.json
env
documentation

# temp dev files
TODO.txt
